@***header><link rel="'stylesheet" type="text/css" href="~/css/custom.css" /></header>
    <header>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
        @section scripts{
            <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
            <script>$(document).ready(function () {
                    $('#gloomyTable').dataTable();</script>
        }
    </header>*@

@using Microsoft.AspNetCore.Identity
@using GloomyCollector.Models
@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager

@model List<Gloomy>
@*this will say hello username when user login feature is added*@

@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <h1>Hello @UserManager.GetUserName(User)!</h1>

        <p>
            <a asp-controller="Gloomies" asp-action="Add">Add Gloomy</a> ♡


            <a asp-controller="Gloomies" asp-action="Delete">Delete Gloomy</a> ♡


            <a asp-controller="Gloomies" asp-action="AddWishList">Add to WishList</a> ♡


            <a href="/Gloomies/MyWishList/@UserManager.GetUserId(User)"> My WishList </a>
        </p>
    </div>
}
else
{
    <div class="text-center">
        <h1>Hello Gloomy Bear Collector!</h1>
        <p><a id="register" asp-area="Identity" asp-page="/Account/Register">Register</a> a new account to explore everything Gloomy Collector has to offer!</p>

        <p>
            <a asp-controller="Gloomies" asp-action="Add">Add Gloomy</a> ♡


            <a asp-controller="Gloomies" asp-action="Delete">Delete Gloomy</a> ♡
        </p>
    </div>
}

@** Add (this will be dependent on admin privileges)

    @Table with ViewAll*@
@if (Model.Count == 0)
{
    <p>No Gloomies yet!</p>
}
else
{
    <table class="table" id="gloomyTable">
        <thead class="text-center">
            <tr>
                <th>
                    ♡
                </th>

                <th>
                    Name
                </th>
                <th>
                    Serial Number
                </th>
                <th>
                    Year
                </th>
            </tr>
        </thead>
        <tbody class="text-center">
            @foreach (Gloomy gloomie in Model)
            {
                <tr onmouseover="this.style.backgroundColor='pink'" onmouseout="this.style.backgroundColor='white'">
               
                    <td><img class="tableImage" src="@gloomie.ImageData" /></td>
                    <td><a asp-controller="Gloomies" asp-action="Detail" asp-route-id="@gloomie.Id">@gloomie.Name</a></td>
                    <td>@gloomie.SerialNumber</td>
                    <td>@gloomie.Year</td>
                </tr>
            }
        </tbody>
    </table>}



<!-- modify this form HTML and place wherever you want your form -->

<form class="submitForm" action="https://formspree.io/f/xwkwdonr"
      method="POST">
    <label>
        Name:
        <input type="text" name="name">
    </label>
    <label>
        Serial Number:
        <input type="text" name="serialNum">
    </label>
    <label>
        Year:
        <input type="text" name="year">
    </label>
    <label>
        Description:
        <input type="text" name="descrip">
    </label>

    <!-- your other form fields go here -->

    <button type="submit">Submit</button>
</form>

<partial name="/Views/Shared/_ThankYouPartial.cshtml" />
