@***header><link rel="'stylesheet" type="text/css" href="~/css/custom.css" /></header>
    <header>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
        @section scripts{
            <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
            <script>$(document).ready(function () {
                    $('#gloomyTable').dataTable();</script>
        }
    </header>*@

@using Microsoft.AspNetCore.Identity
@using GloomyCollector.Models
@inject UserManager<IdentityUser> UserManager

@model List<Gloomy>
@*this will say hello username when user login feature is added*@
<h1>Hello @UserManager.GetUserName(User)!</h1>


<p>
    <a asp-controller="Gloomies" asp-action="Add">Add Gloomy</a>
</p>
<p>
    <a asp-controller="Gloomies" asp-action="Delete">Delete Gloomy</a>
</p>

@** Add (this will be dependent on admin privileges)*@

@*@Table with ViewAll*@
@if (Model.Count == 0)
{
    <p>No Gloomies yet!</p>
}
else
{
    <table class="table" id="gloomyTable">
        <thead>
            <tr>
                <th>
                    ❤︎
                </th>
                <th>
                    Image
                </th>
                <th>
                    Name
                </th>
                <th>
                    Serial Number
                </th>
                <th>
                    Year
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Gloomy gloomie in Model)
            {
                <tr>
                    <td><a asp-controller="Gloomies" asp-action="AddWishList" asp-route-id="@UserManager.GetUserId(User)">+</a></td>
                    <td><img class="tableImage" src="@gloomie.ImageData" /></td>
                    <td><a asp-controller="Gloomies" asp-action="Detail" asp-route-id="@gloomie.Id">@gloomie.Name</a></td>
                    <td>@gloomie.SerialNumber</td>
                    <td>@gloomie.Year</td>
                </tr>
            }
        </tbody>
    </table>}


<div>
    <p>Fill out this form to help us keep our database full:</p>
    <form class="submitForm">
        Name:<input type='text' name='uName' />
        Serial Number:<input type='text' name="uSerial" />
        Year:<input type="text" name="uYear" />
        Extra Details:<input type="text" name="uExtra" />
        <input type="submit" />
    </form>

</div>

@**<partial name="/Views/Shared/_LinkListPartial.cshtml" />
    <partial name="/Views/Shared/_ThankYouPartial.cshtml"/>*@
